<%- include('partials/head', { title: 'Producto' }) %>
  <%- include('partials/nav') %>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

    <main id="page-content">
      <div id="loading-spinner" class="min-h-screen flex flex-col items-center justify-center">
        <div class="w-16 h-16 border-4 border-gray-300 border-t-infinity-cyan rounded-full animate-spin"></div>
        <p class="text-gray-600 dark:text-gray-400 mt-4">Cargando producto...</p>
      </div>
    </main>

    <script src="/js/product-details.js" type="module">
    </script>
    <%- include('partials/footer') %>